<%= stylesheet_link_tag "application" %>
<div class="container">
  <body>
  <div class="row">
    <h1>Export Data to Excel</h1>
  </div>
  <div class="row">
    <%= link_to "logout", logout_url %> |
    <%= link_to "Create a New Admin", new_admin_path %> |
    <%= link_to "Download as Excel", users_url(format: "xlsx") %>
  </div>
</body>
</div>
