<%= stylesheet_link_tag "application" %>
<img src="/assets/CFD Logo.jpg" class="img-responsive logo">
<div class="container">
	<div class="pledgebox">
	<div class="row">
<h1 class="title">Earth Day Pledges</h1>
</div>
<div class="row">
<ul class="listpledge">
	<%@users.each do |user|%>
		<div class="row">
		<li><h4><%=user.f_name%> from <%=user.org%> pledges to <%=user.commitment%></h4></li>
	</div>
	<%end%>

</ul>
</div>
</div>
</div>
