<%= stylesheet_link_tag "application" %>
<div class="container">
  <body>
    <div class="row">
      <h1 class="title"> Welcome to Car Free NYC 2016</h1>
      <div class"pledgebtn">
        <a href="/pledge" class="btn btn-success btn-lg active" role="button">Pledge Now!</a>
      </div>
      <h2 class="about">About Us</h2>
  </div>
    <div class="row">
	   <p>The mission of Car Free Day NYC is to encourage New York City drivers to choose alternative means of moving about NYC on Earth Day, April 22nd, 2016.</p>
	    <p>Car Free Day NYC is an idea that we hope will spark a movement. It addresses critical issues facing our city, our country and our world that stem in part from having too many cars on our city’s streets. From sustainability and environmental justice to land use and urban planning as well as public health and street safety, our overuse of cars has caused numerous urban problems that have mounting social and economic costs.</p>
	     <p>Car Free Day NYC is about encouraging people to make more thoughtful decisions in their daily lives, particularly related to transportation. We are proposing to have Earth Day be a day where we drastically limit the number of cars on New York City streets, by encouraging residents and commuters to choose one of the many other forms of transportation that New York offers for one day of the year.</p>
    </div>
  <div class="row">
    <h2>Why</h2>
		  <ul>
  			<li>Promote investments &amp; prioritize alternative forms of transportation &lpar;public transit, cycling, walking, etc.&rpar;</li>
  			<li>Highlight the inefficiency of single passenger car usage.</li>
  			<li>Highlight the benefits of a city with fewer cars&colon;</li>
    		<ul>
  				<li><strong>Environmental Benefits:</strong> measurably reduce emissions in NYC.</li>
  				<li><strong>Cost Benefits:</strong> Dangerous emissions lead to greater health issues, long term costs of global warming.</li>
  				<li><strong>Safety Benefits:</strong> fewer cars mean safer streets for other street users.</li>
  				<li><strong>Stress Levels:</strong> Cars cause congestion and noise &ndash; studies show that noise reduction lowers stress levels.</li>
  				<li><strong>Alternate use of streets:</strong> Highlight and promote the creativity born out of minimizing the street space used by cars &lpar;plazas, cafes, restaurants, etc.&rpar; as well as the amazing existing transportation system in NYC. </li>
			  </ul>
		  </ul>
    </div>
  <div class="row">
	  <h2>2016 Goals</h2>
		  <ol>
  			<li>Considerably reduce fleets of non-essential vehicles, both public and private.</li>
  			<li>Obtain and leverage partnerships to offer incentives to commuters for getting around the city in alternative ways, as well as asking companies &amp; organizations to limit their own car use on Earth Day.</li>
  			<li>New Yorkers will be asked to leave their cars at home through an array of marketing including through social media and peer&dash;to&dash;peer contact.</li>
  			<li>Programming done by local Community Based Organizations in partnership with NYC DOT via select street closings will focus on environmentalism and the impacts of climate change on NYC and the world and what we can do as a city to address them.</li>
  			<li>Highlight the many ways the city is looking to limit its carbon footprint, both through transportation and otherwise.</li>
		  </ol>
  </div>
  <div class="row">
  	<h2>How your organization can get involved!</h2>
  		<ul>
  			<li>Pledge to go car free, either individually or through a reduction in your organization’s fleet.</li>
  			<li>Incentivize carpooling or enable employees to telecommute on Earth Day.</li>
  			<li>Help spread the message through e&dash;blasts to your constituency or organization partners&semi; social media, etc.</li>
  			<li>Offer programming or educational activities on Earth Day related to sustainability or alternatives in transportation.</li>
  		</ul>
  </div>
</body>
</div>
