
body {
	background-image: url('https://s22.postimg.org/pqqhi3m0x/congestion.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


h1 {
	left: 35%;
	position: relative;
}


.form-holder{
	margin-top: 25%;
	margin-bottom: 25%;
	padding-top: 3%;
	padding-left: 3%;
	padding-bottom: 3%;
	border-radius: 5%;
	background: rgba(255, 255, 255, .3);
	color: white;
}

label.required:after {
  content: " *";
  color: red;
}
.space {
	display: inline;
	}

